@media screen and (max-width: 1200px) {
	.swift_nav .menu>a {
		padding: 0 20px;
	}
}

@media screen and (max-width: 750px) {
	.valueadd_wrap>ul{
		display: flex;flex-wrap: wrap;
	}
	.valueadd_wrap>ul li{
		margin: 0;
		max-width: 46%;
		min-width: 45%;
		margin: 2%;
	}
	.valueadd_wrap>ul li .value_img img{
		width: 100%;
		height: auto;
	}
	.valueadd_wrap>ul li .value_img{
		width: 100%;
		height: auto;
	}
	.valueadd_wrap>ul li{
		height: auto;
	}
	.valueadd_wrap>ul li:nth-child(3n){
		margin-right: 2%;
	}
	
	.pay_wrap>ul li{
		max-width: 28%;height: auto;
		margin-right: 0;margin-left: 0;
	}
	
	#topNav {
		display: block;
	}
	.mobile-header {
		width: 100%;
		height: 70px;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		display: flex !important;;
		align-items: center;
		border-bottom: 1px solid #eee;
		z-index: 99;
	}
	.mobile-header .top_logo {
		margin-left: 10px !important;
	}

	.menu-wrap {
		display: none;
		position: absolute;
		left: 0;
		top: 70px;
		background: #fff;
		width: 100%;
	} 

	#topNav .top_wrap .top_menu {
		float: none;
		margin-right: 0;
	}

	.swift_nav {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}
	.swift_nav .menu {
		float: none;
		width: 100%;
		height: 40px;
		line-height: 40px;
	}
	.header-btn,.header-btn3  {
		display: block;
		padding: 0 15px;
	}

	#swift_content {
		width: 100%;
		min-width: 100%;
	}

	.banner-wrap,
	.logo_wrap,
	.valueadd_wrap,
	.pay_wrap,
	.bar-bottom-content {
		width: 100% !important;
	}

	.top-banner {
		/* position: absolute;
		width: 100% !important;
		z-index: 0; */
		display: none;
	}

	.banner-desc {
		margin: 0 auto !important;
		text-align: center;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.banner-desc-btn-wrap {
		display: flex;
		justify-content: center;
	}

	.menu-btn {
		display: block;
	}
	.banner-item {
		width: 50% !important;
		margin-right: 0 !important;
		padding: 10px;
		box-sizing: border-box;
	}


	.block-title {
		margin-bottom: 30px !important;
	}

	.logo_wrap>ul li {
		/* float: none; */
		margin: 10px auto;
		width: 45%;
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.logo_wrap>ul li:nth-child(2n) {
		margin-right: 0 !important;
	}

	.logo_wrap>ul li img {
		width: 60px;
		height: 60px;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	.function-title {
		text-align: center;
	}

	.contact_us {
		height: auto !important;
		padding-bottom: 20px;
	}

	.contact_us .txt_zh {
		font-size: 20px !important;
		padding-top: 20px;
	}

	.contact_us .txt_a {
		width: 150px;
		height: 40px;
		font-size: 16px;
		line-height: 40px;
		margin-top: 10px !important;
	}

	.valueadd_wrap>ul li {
		width: 100%;
	}

	.pay_wrap>ul li {
		width: 45%;
		margin-right: 2.5%;
		margin-left: 2.5%;
	}

	.pay_wrap>ul li:nth-child(5n) {
		margin-right: 2.5%;
	}

	.bar-bottom-content {
		flex-direction: column !important;
	}

	.bar-bottom-item {
		text-align: center;
		margin-bottom: 20px;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.bar-bottom-item1 {
		width: 100% !important;
		margin-right: 0 !important;
	}

	.bar-bottom-item-title {
		margin-bottom: 10px !important;
	}

	.bar-bottom {
		height: auto !important;
	}

	.bar-bottom-item3 {
		align-items: center !important;
	}

	.bar-bottom-item3 img {
		width: 110px;
		height: 110px;
		margin-bottom: 10px;
	}

	.right-desc {
		margin-top: 0 !important;
		padding-bottom: 20px;
	}

	.pop_indicator_wrap {
		right: 10px !important;
	}

	.pop_indicator_wrap .pop-item{
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		    user-select: none;
	}
	
	.menu {
		display: block;
		float: right;
		cursor: pointer;
		height: 40px;
		width: 35px;
		position: absolute;
		/* top: 5px;
		right: 20px; */
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		    user-select: none;
	}
	
	.menu span {
		display: inline-block;
		width: 35px;
		height: 3px;
		background-color: #333;
		border-radius: 5px;
		position: absolute;
		top: 25px;
		left: 0px;
		/* transition: background-color 0.2s ease-out 0.1s; */
	}
	
	.menu span:before {
		content: '';
		display: inline-block;
		width: 35px;
		height: 3px;
		background-color: #333;
		border-radius: 5px;
		position: absolute;
		top: -12px;
		left: 0px;
		transition: transform 0.1s ease-out, top 0s ease 0s;
		transform: rotate(0deg);
		transform-origin:left center;
	}
	
	.menu span:after {
		content: '';
		display: inline-block;
		width: 35px;
		height: 3px;
		background-color: #333;
		border-radius: 5px;
		position: absolute;
		top: 12px;
		left: 0px;
		transition: transform 0.1s ease-out, top 0s ease 0s;
		transform: rotate(0deg);
		transform-origin:left center;
	}
	
	.mobile-header.menu_click .menu span {
		background-color: transparent;
	}
	
	.mobile-header.menu_click .menu span:before {
		transition: top 0s ease, transform 0.1s ease-out 0s;
		transform-origin:center center;
		transform: rotate(45deg);
		top: 0px;
	}
	
	.mobile-header.menu_click .menu span:after {
		transition: top 0s ease, transform 0.1s ease-out 0s;
		transform-origin:center center;
		transform: rotate(-45deg);
		top: 0px;
	}
	.navbar {
		position: absolute;
		width: 100%;
		/* height: 500px; */
		background-color: #fff;
		display: none;
		top: 68px;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
	}
	.navbar-item {
		line-height: 40px;
		text-align: center;
	}
	.header-btn-wrap {
		width: 100%;
		justify-content: center;
	}
	.banner-btn, .header-btn3 {
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		-ms-user-select: none;
		    user-select: none;
	}
	#dd-banner .left {
		width: 100%;
		margin-right: 0;
	}
	#dd-banner .left .t1, #dd-banner .left .t2, #dd-banner .left .t3 {
		padding: 0 20px;
		text-align: center;
	}
	#dd-banner .left .t4 {
		margin: 0 auto;
	}
	#dd-banner .right{
		display: none;
	}
	#dd-banner .cw1200 {
		padding: 100px 0 70px;
	}

	.vr {
		padding: 50px 0;
	}
	.wrapper {
		padding: 0 15px;
	}

	.system-lists {
		flex-wrap: wrap;
	}
	.system-lists .system-item {
		width: 50%;
		margin-bottom: 30px;
	}

	.vr-funciton .system-lists .system-item {
		width: 48%;
		margin-right: 4%;
	}
	.vr-funciton .system-lists .system-item:nth-child(3n) {
		margin-right: 4%;
	}
	.vr-funciton .system-lists .system-item:nth-child(2n) {
		margin-right: 0;
	}


	.case .case-item {
		width:50%;
	}
	/* .case .case-item:nth-child(3n) {
		margin-right: 4%;
	} */

	.changjing  .system-item {
		width: 48%;
	}

	.partner-list {
		justify-content: space-between;
	}
	.partner-list .partner-item {
		width: 48%;
		margin-right: 0
	}

	.footer {
		flex-direction: column;
	}
	.footer-about, .footer-contact, .footer-links{
		width: 100%;
		text-align: center;
		padding: 20px 0;
	}
	.footer-ewm {
		padding-bottom: 0;
	}
	.footer-links{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.footer-links > div {
		width: 50%;
		padding: 0 5px;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.footer-links > div.footer-ewm h4 {
		text-align: center;
	}
	.main-ad h3 {
		font-size: 24px;
	}
}

@media screen and (max-width: 500px) {
	#topNav .top_wrap .top_logo img{
		height: 40px;
	}
	.header-btn3 {
		padding: 0 15px;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.vr-funciton .system-lists .system-item {
		width: 100%;
		margin-right: 0;
	}
}